.fabIcon {
  margin: 0 !important;
  bottom: auto;
  right: 20px;
  top: 70px;
  left: auto;
  position: fixed !important;
}

.formModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

.rect {
  cursor: pointer;
}

body{
  margin: 0;
}

.card-media{
    padding: 1rem;
}

#member-image{
  border-radius: 8px;
}

#tech-box{
    max-width: none;
   
}

/* .slider-container {
    width: 100%;
    height: 100%;
} */

/* techStackCard{
    width: 200px;
    height: 200px;
} */

/* #about-logo{
    margin-left: auto;
    margin-right: auto;
    max-height: 100% ;
    max-width: 100%;
    include
} */


.carousel-style {
    height: 500px;
   
}

.techstack {
    max-height: 500px;
    max-width: 100%;
      @media (max-width: 1024px)
      {
        max-height: 350px;
      }
        /* @media (max-width:  576px)
        {
            max-height: 100%;
        } */
    }









