.fabIcon {
  margin: 0 !important;
  bottom: auto;
  right: 20px;
  top: 70px;
  left: auto;
  position: fixed !important;
}

.formModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
}

body{
  margin: 0;
}

.card-media{
padding: 1rem;
}

/* image{
  border-radius: 1rem;
} */

#member-image{
  border-radius: 8px;
}