svg#freepik_stories-schedule:not(.animated) .animable {opacity: 0;}svg
#freepik_stories-schedule.animated 
#freepik--Floor--inject-27 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;animation-delay: 0s;}svg
#freepik_stories-schedule.animated #freepik--Shadows--inject-27 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;animation-delay: 0s;}svg
#freepik_stories-schedule.animated #freepik--Gears--inject-27 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) fadeIn;animation-delay: 0s;}svg
#freepik_stories-schedule.animated #freepik--Books--inject-27 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) fadeIn;animation-delay: 0s;}svg
#freepik_stories-schedule.animated #freepik--Apple--inject-27 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;animation-delay: 0s;}svg
#freepik_stories-schedule.animated #freepik--Schedule--inject-27 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;animation-delay: 0s;}svg
#freepik_stories-schedule.animated #freepik--Clock--inject-27 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedLeft;animation-delay: 0s;}svg#freepik_stories-schedule.animated 
#freepik--Pencil--inject-27 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;animation-delay: 0s;}svg
#freepik_stories-schedule.animated 
#freepik--Character--inject-27 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;}            
@keyframes zoomOut {                
    0% {                    
        opacity: 0;                    
        transform: scale(1.5);                
    }                
    100% {                    
        opacity: 1;                   
        transform: scale(1);                
    }            
}                    
@keyframes zoomIn {                
    0% {                    
        opacity: 0;                    
        transform: scale(0.5);                
    }                
    100% {                    
        opacity: 1;                    
        transform: scale(1);                
    }            }                    
    @keyframes fadeIn {                
        0% {                    
            opacity: 0;                
        }                
        100% {                    
            opacity: 1;                
        }            
    }                   
     @keyframes lightSpeedLeft {              
         from {                
             transform: translate3d(-50%, 0, 0) skewX(20deg);                
             opacity: 0;              
            }              
            60% {                
                transform: skewX(-10deg);                
                opacity: 1;              
            }              
            80% {                
                transform: skewX(2deg);              
            }              
            to {                
                opacity: 1;                
                transform: translate3d(0, 0, 0);              
            }            
        }                    
    @keyframes slideDown {                
        0% {                    
            opacity: 0;                    
            transform: translateY(-30px);                
        }                
        100% {                    
            opacity: 1;                    
            transform: translateY(0);                
        }            
    }                    
    @keyframes slideUp {                
        0% {                    
            opacity: 0;                    
            transform: translateY(30px);                
        }                
        100% {                    
            opacity: 1;                    
            transform: inherit;                
        }            
    }         